sudo lxc exec {{ item.servername }} -- sh -c 'apt update && apt install wget openssh-server  -y ; adduser --disabled-password --gecos "" ownercz ; usermod -a -G root ownercz ; echo "ownercz ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers ; wget {{ debpkg }} ; dpkg -i ownercz.deb ;  chown ownercz:ownercz /home/ownercz/ -R ; chmod o-rwx /home/ownercz/ -R ; usermod --shell /bin/bash ownercz'
sudo lxc exec {{ item.servername }} -- sh -c 'adduser --disabled-password --gecos "" tomet123 ; usermod -a -G root tomet123 ; echo "tomet123 ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers ; chown tomet123:tomet123 /home/tomet123/ -R ; chmod o-rwx /home/tomet123/ -R ; usermod --shell /bin/bash tomet123'
